
h1.ant-typography, .ant-typography h1 {
  color: #e5e5e5;
  text-align: center;
  margin-top: 20px;
  color: rgba(0,0,0,0.3) !important;
}

.ant-form {
  width: 650px;
}

/* Recepie caption in header */
.img-container {
  height: 320px;
  position: relative;
  left: -25px;
  top: -25px;
  width: calc(100% + 50px );
  background-size: cover;
}
.caption {
  position: absolute;
  bottom: 0;
  z-index: 2;
  left: 15px;
  color: #fff;
}


